<p id="notice"><%= notice %></p>

<h1><%= @enterprise.title %></h1>
<h3><%= @enterprise.headquaters %></h3>
<p><%= @enterprise.description %></p>

<%= link_to 'Edit', edit_enterprise_path(@enterprise) %> |
<%= link_to 'Back', enterprises_path %>
